body,
html,
main {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Caudex', serif;
}

main>div {
    box-sizing: border-box;
    height: 100%;
    margin: 0;
}

#leftMain {
    position: absolute;
    left: 0px;
    width: 75%;
    background-image: url("../assets/site/mapblue.jpg");
    padding: 25px;
    height: 100%;
}

#rightMain {
    background: rgb(51, 51, 51);
    position: absolute;
    right: 0px;
    width: 25%;
}

h1 {
    text-align: center;
    color: white;
}

#searchArea {
    width: 95%;
    height: 6%;
    position: absolute;
    bottom: 30px;
    left: 0;
    padding-left: 10px;
    border: none;
}

.small-div {
    display: inline-block;
    height: 105px;
    text-align: center;
    width: 105px;
}

.small-image {
    height: 60px;
    top: 0;
    width: 60px;
}

.small-div>p {
    margin: 0;
}

[type=text] {
    border: none;
    font-family: inherit;
    padding: 5px 0;
    width: 80%;
}

[type=button] {
    background-color: rgb(58, 57, 57);
    border: 1px solid white;
    color: white;
    font-family: inherit;
    margin: 10px;
    padding: 5px 10px;
}

[type=button]:hover {
    background: white;
    color: black;
}

#pictureDisplay>img {
    width: 100%;
}

#nameDisplay>p {
    text-align: left;
    color: white;
    margin: 0;
    padding-left: 20px
}

#bioDisplay {
    padding: 20px;
    color: white;
}